menuconfig {{ .LibKName }}
{{if .Description }}	bool "{{ .Description }}"
{{else }}	bool "{{ .ProjectName }} Unikraft library"
{{end}}	default n

{{if .LibKName -}}
{{if .ProvideMain -}}
config {{ .LibKName }}_MAIN_FUNCTION
	bool "Provide main function"
	default n
{{end -}}
{{end -}}`
}

// Removed from config:
// {{range $index, $cd ..element := .Kconfig_dependencies}}
// 	select {{ $element }}
// {{end}}
