features:
  - name: WithGitignore
    enabled: {{ .WithGitignore|lower }}
    resources:
      - .gitignore
  - name: WithDocs
    enabled: {{ .WithDocs|lower }}
    resources:
      - README.md
      - COPYING.md
      - MAINTAINERS.md
      - CODING_STYLE.md
      - CONTRIBUTING.md
  - name: ProvideMain
    enabled: {{ .ProvideMain|lower }}
    resources:
      - main.c
  - name: WithPatchedir
    enabled: {{ .WithPatchedir|lower }}
    resources:
      - patches/
